<div class="center hero-unit">
  <h1>Bees App</h1>

  <h2>
    Find bees and do cool stuff now.
  </h2>

  <%= link_to "Bees: sign-up now!", beesignup_path, class: "btn btn-large btn-custom", style: "margin-right:5px" %>
  <%= link_to "Queens: sign-up now!", queensignup_path, class: "btn btn-large btn-custom", style: "margin-left:5px" %>
</div>
