<% provide(:title, @queen.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @queen %>
        <%= @queen.name %>
      </h1>
    </section>
  </aside>
</div>